/*Clases generales*/
body {font-family: arial, verdana}
   

h1{ background-color: #C4C4C4; 
   text-align: center; color: #3f4547}
   
   h2 { background-color: #C4C4C4; 
      color: #3f4547 ; 
   text-align: left
}
   h3 {color: white}
   
      .negrita {font-style: oblique}
      .fondo {background-color: #3f4547; text-align: center;}
   
      h4 {font-weight: bold;}
   
      .negritaobli{font-weight: bold; font-style: oblique; }
      .negrita{font-weight: bold }

      .SobreMi{font-weight: bold; text-color: red}
      /*header*/

   /*Body*/

       /*header*/

   header
   {background-image: url('../img/Fondo_banner.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;
      ; text-align: center ;  }
    {background-color: #E6E6E6
      ; text-align: center;}

   main
     {background-color: white
        }

   /*footer*/

 footer {text-align: center;}







  








